<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let tache of taches; let i = index"
    appEtatTache
    [etat]="tache.etat"
  >
    <span class="float-left">{{ tache.titre }}</span>
    <span class="text-center">{{ tache.etat }}</span>
    <div class="float-right btn-group">
      <button routerLink="/tache/edit/{{ i }}" class="btn btn-primary">
        Modifer
      </button>
      <button class="btn btn-danger" (click)="removeTache(i)">Supprimer</button>
    </div>
  </li>
</ul>
